.DS_Store
.cache
.idea
serve
nextflow
work
.nextflow*
nf-training/results
transcript-index
.vscode

hello-nextflow/data/bam/*bai
hello-nextflow/results
hello-nextflow/results_genomics
hello-nextflow/hello-config/results_genomics