.DS_Store
.cache
.idea
serve
nextflow
work
.nextflow*
nf-training/results
transcript-index
.vscode

hello-nextflow/data/bam/*bai
hello-nextflow/results
hello-nextflow/results_genomics
hello-nextflow/hello-config/results_genomics
hello-nextflow/hello-config/data
hello-nextflow/hello-modules/results_genomics
hello-nextflow/hello-modules/data
hello-nextflow/hello-nf-test/data
hello-nextflow/hello-nf-test/results_genomics
hello-nextflow/hello-nf-test/.nf-test
hello-nextflow/hello-nf-core/results

*.snap
*.nf-test.log